body{
  font-family: 'Proxima Nova', sans-serif;
  margin: 0;
  padding: 0;
  font-size: 15pt;
}

a.skip{
  background: #f0f0f0;
  left: 0;
  position: absolute;
  top:-41px;
  -webkit-transition: top 1s ease-out;
  transition: top 1s ease-out;
  z-index: 10;
}

a.skip:focus{
  top:10px;
  border: solid #151515;
  border-radius: 0.5;
}

/* Logo and Navbar */
header{
  background: #1a1a1a;
  border-bottom: 3px solid #8A817C;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

header img {
  display:flex;
  height: 75px;
  width: 75px;
  margin-left: 30px;
  margin-top: 15px;
  margin-bottom: 15px;
}

h1 {
  font-family: 'Poly', Palatino;
  color:#1a1a1a;
}

.nav_links{
	flex-wrap: wrap;
	list-style: none;
  margin-right:30px;
}

.nav_item a{
  color: #f0f0f0;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 12pt;
}

.nav_item a:hover, a:focus{
  color: #e1a87a;
}

/* MAIN PAGE */
.intro{
  display: flex;
  margin: 70px 40px 60px;
  justify-content: center;
  align-items:center;
}

.intro-picture{
  margin-left: 250px;
  margin-right: 150px;
  max-height: 600px;
}

.intro-text{
  margin-right: 250px;
  font-size: 100%;
}

/* MAIN PAGE PICTURES AND BUTTONS*/

.main-container{
  display:grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(6, 1fr);
}

.main-first-img{
  grid-column: 1 / span 3;
  grid-row: 1 / span 3;
}

.main-second-img{
  grid-column: 4 / span 3;
  grid-row: 1 / span 6;
}

.main-third-img{
  grid-column: 1 / span 3;
  grid-row: 4 / span 3;
}

.main-first-img img, .main-second-img img, .main-third-img img{
  display:block;
  object-fit: cover;
  overflow: hidden;
  height:100%;
  width:100%;
  opacity:0.9;
  transition: opacity .35s ease;
  filter: brightness(50%);
}


/*BUTTONS!!*/

.button1 {
  grid-column: 2 / span 1;
  grid-row: 2 / span 1;
  opacity: 0;
  transition: opacity .35s ease;
  z-index:1;
  margin: auto;
}

.button2 {
  grid-column: 5 / span 1;
  grid-row: 3 / span 2;
  opacity: 0;
  transition: opacity .35s ease;
  z-index:1;
  margin: auto;
}

.button3 {
  grid-column: 2 / span 1;
  grid-row: 5 / span 1;
  opacity: 0;
  transition: opacity .35s ease;
  z-index:1;
  margin: auto;
}

.button1 a, .button2 a, .button3 a{
  padding:5px;
  color: white;
  border: solid 2px white;
}

.button1:hover, .button2:hover, .button3:hover {
  opacity:1;
}

.main-first-img img:hover{
  opacity:1;
}

.main-first-img:hover ~ .button1{
  opacity:1;
}

.main-second-img img:hover{
  opacity:1;
}

.main-second-img:hover ~ .button2{
  opacity:1;
}

.main-third-img img:hover{
  opacity:1;
}

.main-third-img:hover ~ .button3{
  opacity:1;
}




/* Footer + Nav + Social Media Links*/

footer {
  background-color: #1a1a1a;
  color: #f0f0f0;
  padding:20px;
  text-align: center;
}

.footer_nav_links{
  display:inline-block;
  flex-wrap: wrap;
  list-style: none;
}

.nav_item a{
  color: #f0f0f0;
  text-decoration: none;
}

.nav_item a:hover, a:focus{
  color: #e1a87a;
}

.fa {
  padding-top: 10px;
  padding-right: 10px;
  font-size: 50px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

.fa:hover {
  color:#e1a87a;
}

.fa-facebook {
  color: #f0f0f0;
}

.fa-twitter {
  color: #f0f0f0;
}

.fa-linkedin {
  color: #f0f0f0;
}

.fa-instagram {
  color: #f0f0f0;
}




@media screen and (min-width: 850px){

/* Navbar */

  header{
    display:flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
  }

  li a.active {
    color: #e1a87a;
    text-decoration: underline;
    -webkit-text-decoration-style: dotted;
    text-decoration-style: dotted;
  }

  .nav_links{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .nav_item a{
    padding: 10px;
  }

  .footer_nav_links{
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .footer_nav_links .nav_item a{
    margin:70px;
  }
}


@media (prefers-reduced-motion: reduce) {
  #logo {
    animation: none;
  }
}