body{
  font-family: 'Proxima Nova', sans-serif;
  margin: 0;
  padding: 0;
  font-size: 15pt;
}

a.skip{
  background: #f0f0f0;
  left: 0;
  position: absolute;
  top:-41px;
  -webkit-transition: top 1s ease-out;
  transition: top 1s ease-out;
  z-index: 10;
}

a.skip:focus{
  top:10px;
  border: solid #151515;
  border-radius: 0.5;
}

/* Logo and Navbar */
header{
  background: #1a1a1a;
  border-bottom: 3px solid #8A817C;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

header img {
  display:flex;
  height: 75px;
  width: 75px;
  margin-left: 30px;
  margin-top: 15px;
  margin-bottom: 15px;
}

h1, h2{
  font-family: 'Poly', Palatino;
  color:#1a1a1a;
}

.nav_links{
	flex-wrap: wrap;
	list-style: none;
  margin-right:30px;
}

.nav_item a{
  color: #f0f0f0;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 12pt;
}

.nav_item a:hover, a:focus{
  color: #e1a87a;
}

/* MAIN PAGE */

.intro{
  display: flex;
  justify-content: center;
  align-items:center;
  padding-top:10%;
  padding-bottom:10%;
}

.intro-picture{
  margin-left: 10%;
  margin-right: 100px;
  margin-top:auto;
  margin-bottom:auto;
  max-height: 600px;
}

.intro-text{
  margin-right: 10%;
  font-size: 100%;
  margin-top:auto;
  margin-bottom:auto;
}

/* MAIN PAGE PICTURES AND BUTTONS*/

.main-container{
  display:grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(6, 1fr);
}

.main-first-img{
  grid-column: 1 / span 3;
  grid-row: 1 / span 3;
}

.main-second-img{
  grid-column: 4 / span 3;
  grid-row: 1 / span 6;
}

.main-third-img{
  grid-column: 1 / span 3;
  grid-row: 4 / span 3;
}

.main-first-img img, .main-second-img img, .main-third-img img{
  display:block;
  object-fit: cover;
  overflow: hidden;
  height:100%;
  width:100%;
  opacity:0.9;
  transition: opacity .35s ease;
  filter: brightness(50%);
}

/*BUTTONS!!*/

.button1 {
  grid-column: 2 / span 1;
  grid-row: 2 / span 1;
  opacity: 0;
  transition: opacity .35s ease;
  z-index:1;
  margin: auto;
}

.button2 {
  grid-column: 5 / span 1;
  grid-row: 3 / span 2;
  opacity: 0;
  transition: opacity .35s ease;
  z-index:1;
  margin: auto;
}

.button3 {
  grid-column: 2 / span 1;
  grid-row: 5 / span 1;
  opacity: 0;
  transition: opacity .35s ease;
  z-index:1;
  margin: auto;
}

.button1 a, .button2 a, .button3 a{
  padding:5px;
  color: #f0f0f0;
  border: solid 2px #f0f0f0;
  text-decoration: none;
}

.button1 a:hover, .button2 a:hover, .button3 a:hover {
	color: #e1a87a;
  	border: solid 2px #e1a87a;
}

.button1:hover, .button2:hover, .button3:hover {
  opacity:1;
}

.main-first-img img:hover, .main-second-img img:hover, .main-third-img img:hover{
  opacity:1;
}

.main-first-img:hover ~ .button1{
  opacity:1;
}

.main-second-img:hover ~ .button2{
  opacity:1;
}

.main-third-img:hover ~ .button3{
  opacity:1;
}

/*ABOUT BACKGROUND*/

.about{
  padding-top:10%;
}

.background {
  display:flex;
  justify-content: center;
  align-items:center;
  margin-bottom: 10%;
  height:100%;
}

.background-text{
  margin-left:5%;
  margin-right:5%;
  font-size:100%;
  margin-top:5%;
  margin-bottom:5%;
}

.background-picture{
  width:35%;
  margin-left:8%;
  margin-top:auto;
  margin-bottom:auto;
}

.family{
  display:grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 800px;
  background-color:#e1a87a;
}

.family-text {
  grid-column: 1 / span 1;
  font-size:100%;
  margin:10%;
  margin-top:auto;
  margin-bottom:auto;
}

.ellie {
  grid-column:2 / span 1;
  background-image: url('../images/ellie.jpg');
  background-attachment: fixed;
  background-position: 150px top;
  background-repeat: no-repeat;
  background-size: cover;
}

.funfacts{
  display:grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 800px;
  background-color:#1a1a1a;
}

.funfacts-picture{
  grid-column:1 / span 1;
  background-image: url('../images/zipline.jpg');
  background-position: right top;
  background-repeat: no-repeat;
  background-size: cover;
}
.funfacts-text{
  grid-column: 2 / span 1;
  font-size:100%;
  margin:10%;
  margin-top:auto;
  margin-bottom:auto;
  color:#f0f0f0;
}
/*GALLERY CONTAINER*/

.gallery{
  display:block;
  background-color:#1a1a1a;
  overflow:hidden;
  padding:10%;
}

.gallery-text{
  text-align:center;
}

.gallery-text h1{
}

.gallery-text p{
  margin-top: 5%;
  margin-left:70%;
  color: #f0f0f0;

}

/*TYPEWRITER EFFECT*/
@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro');

.teleport h1:nth-child(1) {
  border-right: solid 3px #e1a87a;
  white-space: nowrap;
  overflow: hidden;    
  font-family: 'Source Code Pro', monospace;  
  font-size: 1.5em;
  color: #f0f0f0;
  animation: animated-text 2s steps(20,end) 1s 1 normal both,
             animated-cursor 800ms steps(20,end) infinite;
}

@keyframes animated-text{
  from{width: 0;}
  to{width: 21.6em;}
}

@keyframes animated-cursor{
  from{border-right-color: #f0f0f0;}
  to{border-right-color: transparent;}
}

/*CONTACT PAGE IMG AND FORM*/

.contact-container {
  position: relative;
}

.contact-container img {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  opacity: 0.9;
  filter: brightness(50%)
}

.contact-text {
  display:block;
  font-size:2.5vw;
  margin-left:50px;
  margin-top:160px;
  position:absolute;
  z-index: 1;
  color: #f0f0f0;
}

.contact-text h1{
  color: #f0f0f0;
}

.form-items {
  display:block;
  text-align:center;
  padding:20px 60px 20px 60px;
}

.form-items label{
  display:block;
  float:left;
  margin-left: 14%;
}

input[type=text], input[type=email], textarea {
  padding: 12px;
  border: 1px solid #cccc;
  border-radius: 4px;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input:invalid,textarea:invalid {
  border: 1px solid #e1a87a;
}

.form-items button{
  color: #1a1a1a;
  padding: 12px 20px;
  border-radius: 4px;
  cursor: pointer;
  text-align:right;
}

.form-items button:hover {
  background-color: #e1a87a;
  color:#f0f0f0;
}

#firstname, #lastname, #email, #message {
  width: 70%;
  font-size:15px;
}

/* Footer + Nav + Social Media Links*/

footer {
  background-color: #1a1a1a;
  color: #f0f0f0;
  padding:20px;
  text-align: center;
}

.footer_nav_links{
  display:inline-block;
  flex-wrap: wrap;
  list-style: none;
}

.nav_item a{
  color: #f0f0f0;
  text-decoration: none;
}

.nav_item a:hover, a:focus{
  color: #e1a87a;
}

.fa {
  padding-top: 10px;
  padding-right: 10px;
  font-size: 50px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

.fa:hover {
  color:#e1a87a;
}

.fa-facebook {
  color: #f0f0f0;
}

.fa-twitter {
  color: #f0f0f0;
}

.fa-linkedin {
  color: #f0f0f0;
}

.fa-instagram {
  color: #f0f0f0;
}


@media screen and (min-width: 850px){

/* Navbar */

  header{
    display:flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
  }

  li a.active {
    color: #e1a87a;
    text-decoration: underline;
    -webkit-text-decoration-style: dotted;
    text-decoration-style: dotted;
  }

  .nav_links{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .nav_item a{
    padding: 10px;
  }

  .footer_nav_links{
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .footer_nav_links .nav_item a{
    margin:70px;
  }
}

@media (prefers-reduced-motion: reduce) {
  #logo {
    animation: none;
  }
}