

body{
  font-family: 'Proxima Nova', sans-serif;
  margin: 0;
  padding: 0;
  font-size: 15pt;
}

a.skip{
  background: #fff;
  left: 0;
  position: absolute;
  top:-40px;
  -webkit-transition: top 1s ease-out;
  transition: top 1s ease-out;
  z-index: 1;
  color:#e1a87a;
}

a.skip:focus{
  top:12vh;
  border: 2px solid #e1a87a;
  border-radius: 0.5;
  z-index:1;
}

/* Logo and Navbar */
header{
  background: #1a1a1a;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height:10vh;
}

header img {
  height: 75px;
  width: 75px;
  margin-left: 30px;
  margin-top: 15px;
  margin-bottom: 15px;
}

h1, h2{
  font-family: 'Poly', Palatino;
  color:#1a1a1a;
}

.nav {
  height: 100px;
  width: 100%;
  background-color: #1a1a1a;
  position: relative;
}

.nav > .nav-header {
  display: inline;
}

.nav > .nav-header > .nav-title {
  display: inline-block;
  font-size: 22px;
  color: #f0f0f0;
;
}

.nav > .nav-btn {
  display: none;
}

.nav > .nav-links {
  display: inline;
  float: right;
  font-size: 18px;
  margin-top:30px;
}

.nav > .nav-links > a {
  display: inline-block;
  padding: 13px 10px 13px 10px;
  text-decoration: none;
  color: #f0f0f0;
  text-transform:uppercase;
}

.nav > .nav-links > a:hover {
  color:#e1a87a;
}

.nav > .nav-links > a.active {
  color: #e1a87a;
  border-bottom: 2px dotted #e1a87a;
}

.nav > #nav-check {
  display: none;
}

/* MAIN PAGE */

.intro{
  display: flex;
  justify-content: center;
  align-items:center;
  height:100vh;
}

.intro-picture{
  margin-left: 10%;
  margin-right: 100px;
  margin-top:auto;
  margin-bottom:auto;
  max-width:30vw;
}

.intro-text{
  margin-right: 10%;
  font-size: 100%;
  margin-top:auto;
  margin-bottom:auto;
}

/* MAIN PAGE PICTURES AND BUTTONS*/

.main-container{
  display:grid;
  grid-template-columns: repeat(6, 1fr);
  background-color:#1a1a1a;
}

.main-first-img{
  grid-column: 1 / span 3;
  grid-row: 1 / span 3;
}

.main-second-img{
  grid-column: 4 / span 3;
  grid-row: 1 / span 6;
}

.main-third-img{
  grid-column: 1 / span 3;
  grid-row: 4 / span 3;
}

.main-first-img img, .main-second-img img, .main-third-img img{
  display:block;
  object-fit: cover;
  overflow: hidden;
  height:100%;
  width:100%;
  opacity:0.9;
  transition: opacity .35s ease;
  filter: brightness(60%);
}

/*BUTTONS!!*/

.button1 {
  grid-column: 1 / span 3;
  grid-row: 2 / span 1;
  opacity: 0;
  transition: opacity .35s ease;
  z-index:1;
  margin: auto;
}

.button2 {
  grid-column: 4 / span 3;
  grid-row: 3 / span 2;
  opacity: 0;
  transition: opacity .35s ease;
  z-index:1;
  margin: auto;
}

.button3 {
  grid-column: 1 / span 3;
  grid-row: 5 / span 1;
  opacity: 0;
  transition: opacity .35s ease;
  z-index:1;
  margin: auto;
}

.button1 a, .button2 a, .button3 a{
  padding:5px;
  color: #f0f0f0;
  border: solid 2px #f0f0f0;
  text-decoration: none;
}

.button1:hover, .button2:hover, .button3:hover {
  opacity:1;
}

.main-first-img img:hover, .main-second-img img:hover, .main-third-img img:hover{
  opacity:1;
  filter: brightness(80%);

}

.main-first-img:hover ~ .button1{
  opacity:1;
}

.main-second-img:hover ~ .button2{
  opacity:1;
}

.main-third-img:hover ~ .button3{
  opacity:1;
}

/*ABOUT BACKGROUND*/

.background {
  display:flex;
  justify-content: center;
  align-items:center;
  height:100vh;
}

.background-text{
  margin-left:5%;
  margin-right:5%;
  font-size:100%;
}

.background-picture{
  width:35%;
  margin-left:8%;
  margin-top:auto;
  margin-bottom:auto;
}

.family{
  display:grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 100vh;
  background-color:#e1a87a;
}

.family-text {
  grid-column: 1 / span 1;
  font-size:100%;
  margin:10%;
  margin-top:auto;
  margin-bottom:auto;
}

.ellie {
  grid-column:2 / span 1;
  background-image: url('../images/ellie.jpg');
  background-attachment: fixed;
  background-position: 150px top;
  background-repeat: no-repeat;
  background-size: cover;
}

.funfacts{
  display:grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 100vh;
  background-color:#1a1a1a;
}

.funfacts-picture{
  grid-column:1 / span 1;
  background-image: url('../images/zipline.jpg');
  background-position: right top;
  background-repeat: no-repeat;
  background-size: cover;
}

.funfacts-text{
  grid-column: 2 / span 1;
  font-size:100%;
  margin:10%;
  margin-top:auto;
  margin-bottom:auto;
  color:#f0f0f0;
}

.funfacts-text h2{
  color:#f0f0f0;
}

.fun-button{
  display:block;
  margin-left:auto;
  margin-right:auto;
  background-color:transparent;
  border: 1px solid #f0f0f0;
  padding: 15px 25px;
  font-size: 16px;
  cursor: pointer;
  color: #f0f0f0;
  transition: background-color .2s ease;
}

.fun-button:hover{
  border: 1px solid #e1a87a;
  background-color: #e1a87a;
  color:#1a1a1a;
}

/*GALLERY CONTAINER*/

.typewriter-container{
  display:block;
  background-color:#1a1a1a;
  height:100vh;
  padding:1%;
}

.typewriter{
  margin-left:15%;
  margin-top:25%;
}

.gallery-container {
  height:100vh;
  width:100vw;
  background-color:#1a1a1a;
}

.gallery-container img {
  position:relative;
  width:100%;
  height:100vh;
  object-fit:cover;
  overflow:hidden;
  opacity: 0.9;
  filter: brightness(40%)
}

.gallery-text {
  width:100vw;
  display:block;
  position:absolute;
  z-index: 1;
  color: #f0f0f0;
  font-size:1em;
  text-align:center;
  margin-top:5%;
}

.gallery-text h1 {
  color: #f0f0f0;
}

.books {
  margin-top:18vh;
  display:flex;
  flex-direction:row;
  justify-content:center;
  align-content:center;
  flex-wrap:wrap;
  position:relative;
}

.book1-container, .book2-container, .book3-container, .book4-container{
  width:160px;
  height:190px;
  background:#1a1a1a;
  position:relative;
  transform:translate(-50%,-50%);
  perspective:1000px;
  margin:5% 0 5% 10%;
}

.cover1, .cover2, .cover3, .cover4{
  width:140px;
  height:190px;
  position:absolute;
  left:20px;
  background-color:#474747;
  transform:rotateY(-20deg);
  transform-style:preserve-3d;
  transform-origin:left;
  transition:all .5s ease-in;
}

.book-button1:hover, .book-button1:focus, .book-button2:hover, .book-button2:focus,.book-button3:hover, .book-button3:focus,.book-button4:hover, .book-button4:focus{
  border: 1px solid #e1a87a;
  background-color: #e1a87a;
  color:#1a1a1a;
}

.book1-container:hover .cover1, .book2-container:hover .cover2, .book3-container:hover .cover3, .book4-container:hover .cover4{
  transform:rotateY(-180deg);
}

.book-button1:focus + .cover1, .book-button2:focus + .cover2, .book-button3:focus + .cover3, .book-button4:focus + .cover4{
  transform:rotateY(-180deg);
}

.book-button1, .book-button2, .book-button3, .book-button4{
  position:absolute;
  display:block;
  top:75px;
  left:37px;
  background-color:transparent;
  border: 1px solid #f0f0f0;
  padding: 8px 8px;
  font-size: 16px;
  cursor: pointer;
  color: #f0f0f0;
  transition: background-color .2s ease;
}

figure{
  margin:0;
  display:block;
  position:absolute;
  width:100%;
  height:100%;
}

.hit-the-floor {
  color: #fff;
  font-size: 1.2em;
  font-weight: bold;
  font-family: 'Proxima Nova', sans-serif;
  text-shadow:
    0 1px 0 #ccc, 
    0 2px 0 #bbb, 
    0 2px 0 #b9b9b9, 
    0 3px 0 #aaa, 
    0 4px 1px rgba(0,0,0,.1), 
    0 0 5px rgba(0,0,0,.1), 
    0 1px 3px rgba(0,0,0,.3), 
    0 3px 5px rgba(0,0,0,.2), 
    0 5px 10px rgba(0,0,0,.25), 
    0 10px 10px rgba(0,0,0,.2), 
    0 20px 20px rgba(0,0,0,.15);
}

.hit-the-floor {
  text-transform:uppercase;
}

/*TYPEWRITER EFFECT*/
@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro');

.typewriter h1:nth-child(1) {
  border-right: solid 3px #e1a87a;
  white-space: nowrap;
  overflow: hidden;    
  font-family: 'Source Code Pro', monospace;  
  font-size: 2em;
  color: #f0f0f0;
  animation: animated-text 2s steps(20,end) 1s 1 normal both,
             animated-cursor 800ms steps(20,end) infinite;
}

@keyframes animated-text{
  from{width: 0;}
  to{width: 21.6em;}
}

@keyframes animated-cursor{
  from{border-right-color: #f0f0f0;}
  to{border-right-color: transparent;}
}

/*GALLERY PAGE GALLERY1*/

#greece, #cali, #florida, #chicago{
  background-color:#eeeeee;
  padding:2%;
  height:100vh;
}

#greece h2, #cali h2, #florida h2, #chicago h2 {
  margin-left:5%;
}

.gallery1, .gallery2, .gallery3, .gallery4 {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
  justify-content: center;
  width:100vw;
  margin-left:auto;
  margin-right:auto;
}

.gallery-col {
  flex: auto;
  max-width: 30%;
  padding: 0 4px;
}

.gallery-col img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

.gallery-col img:first-child{
	filter:contrast(130%);

}
.gallery-col img:nth-child(3n+3) {
	filter:grayscale(100%);
}

.gallery-col img:last-child{
	filter:sepia(30%)
}

.gallery-button {
  display:block;
  margin-top:2%;
  margin-left:auto;
  margin-right:auto;
  text-align:center;
  background-color:transparent;
  border: 1px solid #e1a87a;
  padding: 15px 25px;
  font-size: 16px;
  cursor: pointer;
  color: #1a1a1a;
  transition: background-color .2s ease;
}

.gallery-button:hover{
  border: 1px solid #e1a87a;
  background-color: #e1a87a;
  color:#f0f0f0;
}

/*RESUME PAGE*/
.resume-container{
  position:relative;
  background-color:#f0f0f0;
  padding-bottom:1%;
  width:100vw;
  overflow:hidden;
}

.resume-container img{
  max-height:100vh;
  width:100vw;
  object-fit:cover;
  margin-left:auto;
  margin-right:auto;
  opacity:0.7;
}

.resume-text {
  display:block;
  margin-left:7vw;
  margin-top:15vh;
  position:absolute;
  z-index:1;
}

.resume-text a {
  padding:10px;
  color: #1a1a1a;
  border: solid 2px #1a1a1a;
  text-decoration: none;
}

.resume-text a:hover{
  color: #1a1a1a;
  background-color:#FFFF;
}

.resume-content {
  display:block;
  min-height:100vh;
  width:100vw;
  background-color:#f0f0f0;
  overflow-wrap:break-word;
}
.schools{
  list-style: none;
}
.education {
  display:grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows:1fr;
  margin:5%;
}

.education h2{
  grid-column: 1 / span 1;
}

.school {
  grid-column:2 / span 1;
} 

.work-experience{
  display:grid;
  grid-template-columns:1fr 2fr;
  grid-template-rows:1fr;
  margin:5%;
}

.work-experience h2{
  grid-column:1 / span 1;
}

.work-experience .jobs{
  grid-column:2 / span 2;
}

.resume-content a {
  text-decoration: none;
  color:#e1a87a;
}

.jobs ul li{
	margin:15px;
}

ul.dashed{
  list-style:none;
}

ul.dashed > li:before {
	content:"-  ";
}

/*CONTACT PAGE IMG AND FORM*/

.contact-container {
  position: relative;
  height:100vh;
  background-color:#1a1a1a;
}

.contact-container img {
  height:100vh;
  max-width:100vw;
  object-fit:cover;
  margin-left: auto;
  margin-right: auto;
  opacity: 0.9;
  filter: brightness(50%)
}

.contact-text {
  display:block;
  font-size:2.5vw;
  margin-left:50px;
  margin-top:160px;
  position:absolute;
  z-index: 1;
  color: #f0f0f0;
}

.contact-text h1{
  color: #f0f0f0;
}

.form-items {
  display:block;
  text-align:center;
  padding:20px 60px 20px 60px;
}

.form-items label{
  display:block;
  float:left;
  margin-left: 14%;
}

input[type=text], input[type=email], textarea {
  padding: 12px;
  border: 1px solid #cccc;
  border-radius: 4px;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input:invalid,textarea:invalid {
  border: 1px solid #e1a87a;
}

.form-items button{
  color: #1a1a1a;
  padding: 12px 20px;
  border-radius: 4px;
  cursor: pointer;
  text-align:right;
  font-size:13px;
}

.form-items button:hover {
  background-color: #e1a87a;
  color:#f0f0f0;
}

#firstname, #lastname, #email, #message {
  width: 70%;
  font-size:15px;
}

/* Footer + Nav + Social Media Links*/

footer {
  background-color: #1a1a1a;
  color: #f0f0f0;
  text-align: center;
  height:180px;
  position:absolute;
  width:100vw;
}

.footer_nav_links{
  display:flex;
  flex-direction:row;
  list-style: none;
  justify-content:center;
}

.footer_nav_links .nav_item a{
  margin:5px;
}

.fa {
  padding-top: 10px;
  padding-right: 70px;
  font-size: 50px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

.fa:hover {
  color: #e1a87a;
  background-color:#1a1a1a;
  border:none;
}

.fa-facebook {
  color: #f0f0f0;
}

.fa-twitter {
  color: #f0f0f0;
}

.fa-linkedin {
  color: #f0f0f0;
}

.fa-instagram {
  color: #f0f0f0;
}

@media only screen and (max-width: 600px){

/* Navbar */
  .nav > .nav-btn {
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 0px;
  }
  .nav > .nav-btn > label {
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 13px;
    margin-top:30px;
;
  }
  .nav > .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
    color: #e1a87a;
  }
  .nav > .nav-btn > label > span {
    display: block;
    width: 25px;
    height: 10px;
    border-top: 2px solid #eee;
  }
  .nav > .nav-links {
    position: absolute;
    display: block;
    width: 100%;
    background-color: #333;
    height: 0px;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 50px;
    left: 0px;
  }
  .nav > .nav-links > a {
    display: block;
    width: 100%;
  }
  .nav > #nav-check:not(:checked) ~ .nav-links {
    height: 0px;
  }
  .nav > #nav-check:checked ~ .nav-links {
    height: calc(100vh - 50px);
    overflow-y: auto;
  }

/* MAIN */

	.intro{
		display:block;
		height:100%;
		margin:5%;
	}

	.intro-picture{
		display:block;
		margin-left:auto;
		margin-right:auto;
		max-height:75vh;
	}

	.intro-text{
		display:block;
		font-size:0.7em;
		margin-left:10vw;
		margin-right:10vw;
	}


	.main-container{
		display:grid;
	}


	.main-first-img{
		grid-column:1 / span 6;
		grid-row:1;
	}

	.main-first-img img{
		max-height:33vh;
	}

	.main-second-img{
		grid-column:1 / span 6;
		grid-row:2;
	}

	.main-second-img img{
		max-height:33vh;
	}

	.main-third-img{
		grid-column:1 / span 6;
		grid-row:3;
		overflow:hidden;
	}

	.main-third-img img{
		max-height:33vh;
	}

	.button1{
		grid-row:1;
		grid-column:1 / span 6;
		opacity:1;
	}

	.button2{
		grid-row:2;
		grid-column:1/span 6;
		opacity:1;
	}

	.button3{
		grid-row:3;
		grid-column:1 / span 6;
		opacity:1;
	}

/* ABOUT */
	.background{
		display:block;
		height:100%;
		margin:5%;
	}

	.background-picture{
		display:block;
		margin-left:auto;
		margin-right:auto;
		max-height:75vh;
	}

	.background-text{
		display:block;
		font-size:0.7em;
		margin-left:10vw;
		margin-right:10vw;
	}


  	.family{
		display:grid;
		grid-template-columns: 1fr;
		grid-template-rows:1fr 1fr; 
	}

  	.family-text{
  		font-size:0.7em;
  		grid-row: 2 / span 1;
  		grid-column: 1 / span 1;
  	}

	.ellie {
		grid-row:1/span 1;
		grid-column:1 / span 1;
  		background-position:top center;
  		background-attachment:inherit;
  		display:block;
  	}

  	.funfacts{
		display:grid;
		grid-template-columns: 1fr;
		grid-template-rows:1fr 1fr; 
	}

  	.funfacts-text{
  		font-size:0.7em;
  		grid-row: 2 / span 1;
  		grid-column: 1 / span 1;
  	}

	.funfacts-picture {
		grid-row:1/span 1;
		grid-column:1 / span 1;
  		background-position:center -100px;
  		background-attachment:inherit;
  		display:block;
  	}

/* GALLERY */
	.typewriter-container{
		visibility:hidden;
	    clear: both;
	    float: left;
	    margin: 10px auto 5px 20px;
	    width: 28%;
	    display: none;
	}
	.gallery-container{
		visibility:hidden;
	    clear: both;
	    float: left;
	    margin: 10px auto 5px 20px;
	    width: 28%;
	    display: none;
	}

	.travels button {
		visibility:hidden;
	    clear: both;
	    float: left;
	    margin: 10px auto 5px 20px;
	    width: 28%;
	    display: none;
	}

/* RESUME */

	.resume-content{
		font-size:0.7em;
	}

/*CONTACT*/
	.contact-container{
		height: 40vh;
    	width: 100vw;
	}

	.contact-container img{
		height: 40vh;
    	width: 100vw;
	}

	.form{
		font-size:0.7em;
	}

/* FOOTER NAV */
	footer{
		height:100px;
		font-size:0.8em;
	}
	.footer_nav_links {
		visibility:hidden;
	    clear: both;
	    float: left;
	    margin: 10px auto 5px 20px;
	    width: 28%;
	    display: none;
	}

	.fa{
		padding-right: 10px;
	}
}

@media screen and (max-width: 425px){

/* GALLERY */
	.typewriter-container{
		visibility:hidden;
	    clear: both;
	    float: left;
	    margin: 10px auto 5px 20px;
	    width: 28%;
	    display: none;
	}
	.gallery-container{
		visibility:hidden;
	    clear: both;
	    float: left;
	    margin: 10px auto 5px 20px;
	    width: 28%;
	    display: none;
	}

/* RESUME */
	.resume-text{
		margin-left:7vw;
		margin-top:5vh;
		font-size:0.7em;
	}

	.resume-content{
		font-size:0.7em;
	}

}

@media (prefers-reduced-motion: reduce) {
  #logo {
    animation: none;
  }
}

@media only screen and (max-device-width: 1400px) {
  .parallax {
    background-attachment: scroll; /*turn off parallax for mobile devices*/
  }
}